<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyne.socialmodule">

    <application>
        <activity
            android:name=".ShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!--qq 第三方登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101449509" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".ShareActivity"/>

    </application>

</manifest>
